<header class="masthead">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <h1>[translate:Добро пожаловать], <?= htmlspecialchars($_SESSION['user_name']) ?>!</h1>
            <p>[translate:Это  БАЗА. Моя база, тут мои правила.]</p>
            <p style="font-weight: bolder  ; font-size: 30px">⍖⍖</p>
            <p><a href="/templates/auth/logout.php">[translate:Выйти]</a></p>

            <!-- Other HTML and SVG unchanged -->

        </div>
    </div>
</header>
