{# В основном шаблоне Twig #}

<div class="container">
    <div class="header">
        {{ include('partials/header.twig') }}
    </div>

    <div class="display-1">
        404 Error
    </div>
</div>

{{ include('partials/footer.twig') }}
